DATABASE_URL=postgresql://levi_db_50u0_user:1M8NlUj7KUoJVhekGUqvNJqw4L1hB3Rh@dpg-d6tvqv0gjchc73cn588g-a/levi_db_50u0
REDIS_URL=redis://red-d6u005fafjfc73fqdo80:6379
SECRET_KEY=DEDPOOL0101a$!@$%^&*
POSTGRES_PASSWORD=levi195326!@$%^&*DEDPOOLa
GROQ_API_KEY=your-groq-api-key-here
FRONTEND_URL=https://your-frontend-url.com
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
RESEND_API_KEY=your-resend-api-key-here
TOGETHER_API_KEY=your-together-api-key-here
# Change POSTGRES_PASSWORD in production!

